<main class="app-wrapper">
  <mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
      <span class="app-title">Most Supported Record Labels</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <mat-card>
        <mat-card-title class="app-greeting"
          >Welcome {{ user.username }}!</mat-card-title
        >
        <mat-card-actions>
          <div class="signout-section">
            <div class="button-center">
              <button mat-flat-button color="warn" (click)="signOut()">
                Sign Out
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <router-outlet></router-outlet>
    </ng-template>
  </amplify-authenticator>
</main>
