<main class="app-wrapper">
  <mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
      <span class="app-title">Most Supported Record Labels</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <mat-card>
        <mat-card-title class="app-greeting"
          >Welcome {{ user.username }}!</mat-card-title
        >
        <div class="form-container">
          <form
            class="record-label-form"
            [formGroup]="recordLabelSearchForm"
            (ngSubmit)="onSubmit(user.username)"
          >
            <div class="form-items">
              <mat-form-field
                class="record-label-input-full-width"
                appearance="fill"
              >
                <mat-label>Record Label</mat-label>
                <input matInput id="name" placeholder="Ex. Warp Records" formControlName="name" />
              </mat-form-field>
              <div class="button-container">
                <button
                  class="button"
                  type="submit"
                  mat-flat-button
                  color="primary"
                >
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
        <mat-card-actions>
          <div class="signout-section">
            <div class="button-center">
              <button
                mat-flat-button
                color="accent"
                (click)="fetchResults(user.username)"
              >
                View Data
              </button>
              <button mat-flat-button color="warn" (click)="signOut()">
                Sign Out
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        [sorts]="[{ prop: 'overall_label_score', dir: 'desc' }]"
        *ngIf="rows.length > 0"
      >
        <ngx-datatable-column name="Record Label Name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Overall Score">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.overall_label_score }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Average Number of People Who Want Each Release"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.average_want }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Average Number of People Who Own Each Release"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.average_have }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <router-outlet></router-outlet>
    </ng-template>
  </amplify-authenticator>
</main>
